.results-container {
  width: 80%;
  margin: 100px auto 20px;
}

.results-header {
  width: 100%;
  text-align: center;
  padding: 70px 0 20px;
  font-size: 2rem;
  color: #4d3a2a;
  font-weight: bold;
}

.results-card {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff7ef;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(198, 156, 109, 0.1);
}

.results-profile,
.results-party-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.results-name,
.results-party {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 200px;
  color: #4d3a2a;
}

.results-votes {
  font-size: 1rem;
  font-weight: bold;
  color: #4d3a2a;
  padding: 10px 15px;
  background-color: #f1e3d1;
  border-radius: 6px;
  min-width: 100px;
  text-align: center;
  margin-left: auto;
}
